<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='/images/dog-paw-icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Pup Pathways</title>
</head>
<body>
    <div class="page_holder" id="register_page">
        <header class="p-3 mb-3 border-bottom" id="register_header">
            <div class="header-container d-flex justify-content-between align-items-center">
                <div class="d-flex flex-wrap align-items-center w-50">
                    <div id="login_logo" class="d-flex">
                        <img src="../static/images/dog-paw.png" alt="dog_paw_logo">
                        <h1 id="logo-text">Pup Pathways</h1>
                    </div>
                </div>
                <a href="/logout" class="btn btn-outline-dark mb-0" id="return_button">Log Out</a>
            </div>
        </header>
        <div class="wrapper">
            <div class="card">
                <div class="card-header">
                    <h2 style="color:black !important">Welcome, {{session['user_first_name']}}!</h2>
                </div>
                <div class="card-body">
                    <p>Nothing to see here yet.</p>
                </div>
            </div>
        </div>        
    </div>
</body>
