/* universal stylings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E3ECFA;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Josefin Sans', sans-serif !important; 
}

.btn-outline-dark:hover {
    background-color:  #dc3545 !important;
}

.card, header {
    box-shadow: rgba(44, 36, 6, 0.4) 0px 0px 0px 2px, rgba(44, 30, 6, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset !important;
}

#wrapper {
    width: 50%;
    margin: 5% auto; 
}

/* Login Page */
h1 {
    margin: 0;
    color: white !important;
    font-family: 'Caprasimo', cursive;
    font-size: 2em;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.form-control:focus {
    box-shadow: 0 0 4px 2px #dc3545 !important;
}


#login_logo {
    width: 100%;
}

#login_logo img {
    height: 3rem;
    margin: 0 2%;
}

.card.login-card {
    text-align: center;
    background-size: cover;
    width: 50vw;
    height: 100vh;
    background-color: #E3ECFA;
    margin: auto;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#img-background {
    height: 100vh;
    width: 100vw;
}

.login-card img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

.login-card input, button, a, .form-floating {
    margin-bottom: 5% !important; 
    transition: 1s ease !important;
}

.img-background {
    background-color: #E3ECFA;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

.img-background img {
    height: 100%;
    width: 100%;
}

.login-card form {
    color: black;
    padding: 3%;
    background-color: rgba(23, 79, 124, 0.9) !important;
}

.login-card h2 {
    color: white !important;
}


#home-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/*registration*/ 
#return_button {
    width: 10%;
}

.page_holder {
    min-height:100vh;
    overflow: auto;
    background-color: #E3ECFA;
    background-position: right bottom;
    background-repeat: no-repeat;
}

#register_page {
    background-image: url(../images/account-creation-human-transparent.png);
    background-size: 30%; 
}

#register_2_page {
    background-image: url(../images/transparent_dog.png);
    background-size: 20%; 
}

#register_header{
    background: url(../images/clouds_gif.gif);
}

h3 {
    color:white !important;
}

textarea#about_dog.form-control {
    height: 200px !important;
    width: 300px !important;
}

/* dashboard */


form {
    text-wrap: none;
}

#dashboard-left {
    margin-right: 2.5%
}

#dashboard-right {
    margin-left: 2.5%
}

#dashboard-navigation a {
    width: 25%;
}

#logo {
    width: 100px;
}

header {
    background-color: rgba(23, 79, 124, 0.9) !important;
}

header h2 {
    color: white !important;
    margin-left: 1%;
    text-wrap: none;
}

header a {
    width: 100%;
}

#logo-text {
    margin-bottom: 0 !important;
}

.not-login-card {
    background-color: rgba(23, 79, 124, 0.9) !important;
    text-align: center;
}

.not-login-card h1, h2{
    color: white !important;
    margin-bottom: 2%;
}

.validation_errors {
    color: red !important;
    background-color: black !important;
}

td.table-left {
    white-space: nowrap !important;
}

/* fixing card sizing */
table { 
    padding-bottom: 0 !important;
}

